<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Adicionar ativo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{css/cadastro.css}'>
</head>
<body>
    <form th:action="@{/adicionar}" method="post" th:object="${ativo}" class="login__form">
        <h1 class="login__title">Adicionar Ativo na Carteira</h1>

        <div class="login__content">
            <div class="login__box-input">
                <label for="id_tpAtivo">Moeda do ativo</label>
                <select style="background: #0000005e;" id="id_tpAtivo" class="login__input" name="id_tpAtivo" th:field="*{id_tpAtivo}" oninput="calcularValorAtivo()">
                    <option value="1" selected>Real</option>
                    <option value="2">Dólar</option>
                    <option value="3">Euro</option>
                    <option value="4">Iene</option>
                    <option value="5">Bitcoin</option>
                    <option value="6">BNB</option>
                    <option value="7">Ether</option>
                    <option value="8">Dogecoin</option>
                </select>
            </div>
            
            
            <div class="login__box-input">
                <label for="vl_real">Comprar por Reais </label>
                <input class="login__input" id="vl_real" type="number" th:field="*{vl_real}" oninput="calcularValorAtivo()" step=".01">
            </div>

            <div class="login__box-input">
                <label for="vl_ativos">Valor convertido </label>
                <input class="login__input" id="vl_ativos" type="number" th:field="*{vl_ativos}" value="0" step="any" readonly>
            </div>
        </div>
        
        <input class="login__button" type="submit" value="Adicionar" name="adicionar">

        <p class="login__register">
            <a th:href="@{/carteira}">Voltar para Carteira</a>
        </p>

    </form>


    <script>
        function calcularValorAtivo() {
            //Funcao feita para que no modificar dos inputs, ele fazer o calculo automático do valor do ativo, ou seja, da conversão de acordo com a tabela
            var idTpAtivo = document.getElementById("id_tpAtivo").value;  // Obtém o tipo de ativo selecionado
            var vlReal = parseFloat(document.getElementById("vl_real").value);  // Obtém o valor real

            // Definindo taxas de conversão (pode ser melhorado com valores dinâmicos, se necessário)
            var taxasConversao = {
                1: 1,        // Real
                2: 0.17,     // Dólar
                3: 0.16,     // Euro
                4: 26.50,    // Iene
                5: 0.00000216,// Bitcoin
                6: 0.000275, // BNB
                7: 0.000057, // Ether
                8: 0.83      // Dogecoin
            };

            var txConversao = taxasConversao[idTpAtivo]; // Obtém a taxa de conversão correspondente
            var vlAtivoConvertido = vlReal * txConversao; // Calcula o valor convertido do ativo

            // Exibe o valor convertido no campo de "valor de ativos"
            document.getElementById("vl_ativos").value = vlAtivoConvertido.toFixed(8);
        }

    </script>
</body>
</html>